<!-- TOOLBAR -->
<div id="toolbar">

        <ul>
		<li>
		<!-- MODAL WINDOW -->
		<script type="text/x-template" id="modal-template">
  			<transition name="modal">
    			<div class="modal-mask">
      			<div class="modal-wrapper">
        			<div class="modal-container">

        			<!-- ACTUAL MODAL TEXT -->
          			<div class="modal-body">
          				<h1> Your profile </h1>
          					<button> Profile </button>
          					<button> Orders </button>
          					<button> Course </button>
          					<button> Settings </button>
          					<button> Log Out </button>
              			<button class="modal-default-button" @click="$emit('close')"> Exit </button>
          			</div>
          			<!-- END OF MODAL TEXT -->

        			</div>
      			</div>
    			</div>
  			</transition>
		</script>

		<!-- MODAL BUTTON -->
		<button id='modal-button' @click="showModal = true"> Menu </button>
			<modal v-if="showModal" @close="showModal = false"> </modal>
  		<!-- MODAL END -->

		<li> Supertutortv </li>
		<li> Hi, {{data.profileData.firstName}} </li>
	</ul>

</div>

<!-- MAIN DIV -->
<div class="maindiv">

<h1> Course Name</h1>

<iframe width="840" height="690" src="https://www.youtube.com/embed/9szNGXja85M">
</iframe>

</div>

<!-- RECENTLY WATCHED -->
<div id="recently-watched">
<button @click="addRecentVideos"> TEST </button>
	<p> Recently Watched </p>
</div>

<!-- RECOMMENDED -->
<div id="recommended">
	<p> Recommended </p>
</div>


<script src="https://unpkg.com/vue@2.3.4"></script>

<script>


	Vue.component('modal', {
  		template: '#modal-template'
	})


	var menuModal = new Vue ({
		el: "#toolbar",
		data: {
			showModal: false
		}
	})

  var recentVideos = new Vue ({
    el: "#recently-watched",
    data: {
      recentVideoList: []
    },
    methods : {
      addRecentVideos(){
        for (var key in data.videos) {
          if (data.videos[key][completion] == true) {
            this.recentVideoList.push(data.videos[key]);
          }
        }
      }
    }
  })










</script>
