/* General Formatting */

body {
  padding: 0px;
  font: 16px 'Lato', sans-serif;
  margin:0;
  background-color:#f1f1f1;
}

a {
  color: #00B7FF;
  text-decoration:none;
}

ul {
  list-style-type:none;
}

ul {
  padding:0;
}


button {
  outline:none;
  border:none;
  background-color:#f1f1f1;
}

button:hover {
  background-color: #ddd;
}

h1 {
  text-align:center;
}

/* To regulate overlapping of the page */
#parentdiv {
  min-width:924px;
}




/* TOOLBAR FORMATTING (Toolbar located in modal.vue and called in index) */



/* Menu list icon thingy */
#menu-icon {
  width:11px;
}

/* to account for fixed toolbar */
.maindiv {
  position:relative;
  top:60px;
}

/* Toolbar, located in modal.vue */
#toolbar {
	position:fixed;
  width:100%;
	top:0;
	height:60px;
	background-color:#f1f1f1;
  border-bottom: 1px solid black;
  z-index:1;
  margin:auto;
}

#toolbar ul{
  overflow:hidden;
  margin: 0;
  padding: 0;
}

/* Main toolbar elements (menu button and modal button, no logo) */
#toolbar li {
  display:inline;
  padding:10px 20px;
  float:left;
  height:60px;
}

/* Div containing Supertutortv Logo */
#logo-holder {
  position:relative;
  top:-50px;
  margin:auto;
  width:147px;
}

/* profile icon / modal button in toolbar */
#toolbar li:last-child {
  float:right;
  padding:0;
  border-left: 1px solid black;
}

/* both toolbar buttons */
.modal-button {
  top:-1px;
  height:60px;
  font-size:15px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding:20px;
}

/* menu button in toolbar */
#toolbar li:first-child {
  border-right: 1px solid black;
  padding:0;
}




/* NAVBAR / SIDEBAR FORMATTING */



/* Sidebar component found in videos.vue and called in index */

/* Subject list, found in navbar.vue and called in index */
.navbar-items {
  text-align:center;
/*  width:60%;
  margin:auto;*/
}

.navbar-items li{
  display:inline;
  padding: 4px 14px;
  border:1px solid black;
  border-radius: 8px;
  background-color:white;
}

.navbar-items li:hover {
  background-color:lightblue;
}

/* Navbar items assigned active class with button click */
.navbar-items .active {
  background-color:lightblue;
}


.sidebar {
  position:absolute;
  width:12.5%;
  right:12.5%;
  top:0px;
  height: 540px;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:center;
  border-bottom:1px solid black;
}

.sidebar li {
  padding:3px;
}

.sidebar .active{
  background-color:lightblue;
}

/* Linkeronis is both video div and dashboard div */
.linkeronis {
  position:absolute;
  width:12.5%;
  right:0px;
  top:0px;
  height: 540px;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:center;
  border-left:1px solid black;
  border-bottom:1px solid black;
}

.linkeronis .active{
  background-color:lightblue;
}

.linkeronis li {
  padding:3px;
}

.linkeronis a {
  text-decoration:none;
}

.linkeronis p {
  color:black;
}

.dashboard {
  position:relative;
  left:18px;
  margin:auto;
  width:50%;
}

#video-holder {
  position:relative;
  top:1px;
}


/* CMS FORMATTING */





.cms-div{
  border: 1px solid black;
  width:510px;
  margin:auto;
  padding:20px;
  border-radius:10px;
  position:relative;
  top:90px;
}

.cms-div input {
  padding:5px;
}

.remove-subject-button {
  float:right;
}

h5 {
  font-size:16pt;
  text-align:center;
  color:#00B7FF;
}

.cms-div ul {
  padding:10px;
}

.cms-div button{
  outline:1px solid black;
  border-radius:10%;
  padding:5px;
}

.cms-div .entry-list li{
  display:inline;
  padding-left:20px;
}




/* MODAL FORMATTING */



/* Div that dims background and displays the modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

/* Makes the wrapper appear as a <td> element (table cells) */
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/*div around modal window */
.modal-container {
  width: 60%;
  height: 80%;
  margin: 0px auto;
  padding:5px 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  background-color:#f1f1f1;
}

/* visibile modal window */
.modal-body {
  margin: 20px 0;
  height: 85%;
}

/* modal close button */
.modal-default-button {
  float: right;
  position:static;
  bottom:10%;
  left:90%;
  font-size:16px;
  border: 1px solid gray;
}

/* On / off switches in settings tab */
.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
    clear: both;
    right: 50%;
    margin-top: -1%;
}

/* Reset Password input in settings tab */
.passwordreset{
    position: relative;
    float: right;
    right: 50%;
    margin-bottom: 3%;
}



/* MODAL TABS */


div.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* tab buttons */
div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change tab color upon hover */ 
div.tabs button:hover {
    background-color: #ddd;
}

/* Change active tab color, with active class */
div.tabs button.active {
    background-color: #ccc;
}

/* Same div for each tab of the modal, tabcontent */
.tabcontent {
    border: 1px solid #ccc;
    border-top: none;
    height:0px;
}

.tabcontent a {
    font-size: 14px; color: black;
    font-weight: bold;
}

/* END OF MODAL FORMATTING */
